---
layout: "agency-pkg-layouts/default"
components:
  headline:
    text: 'Components'
fragments:
  headline:
    text: 'Fragments'
elements:
  headline:
    text: 'Elements'
packages:
  headline:
    text: 'Packages'
---
{{#mixin "agency-pkg-docs/components/overview"}}

  {{#content "menu"}}

      {{#mixin "agency-pkg-docs/fragments/menu"}}

        {{#content "content"}}

          <div class="components">
            {{{mixin "agency-pkg-docs/elements/menu/headline" components.headline}}}
            {{#globTree "src/tmpl/partials/components/**/*.hbs"}}
              {{{mixin "agency-pkg-docs/fragments/accordeon" list=this}}}
            {{/globTree}}
          </div>

          <div class="fragments">
            {{{mixin "agency-pkg-docs/elements/menu/headline" fragments.headline}}}
            {{#globTree "src/tmpl/partials/fragments/**/*.hbs"}}
              {{{mixin "agency-pkg-docs/fragments/accordeon" list=this}}}
            {{/globTree}}
          </div>

          <div class="elements">
            {{{mixin "agency-pkg-docs/elements/menu/headline" elements.headline}}}
            {{#globTree "src/tmpl/partials/elements/**/*.hbs"}}
                {{{mixin "agency-pkg-docs/fragments/accordeon" list=this}}}
            {{/globTree}}
          </div>

          <div class="packages">
            {{{mixin "agency-pkg-docs/elements/menu/headline" packages.headline}}}
            {{#globTree "node_modules/**/src/tmpl/partials/**/*.hbs" "node_modules/agency-boilerplate/src/tmpl/partials/**/*.hbs"}}
                {{{mixin "agency-pkg-docs/fragments/accordeon" list=this}}}
            {{/globTree}}
          </div>

        {{/content}}

      {{/mixin}}

  {{/content}}

{{/mixin}}
