---

---
<input type="checkbox" id="{{{parent-id}}} - {{{id}}}"/>
<label class="partial" data-package="agency-pkg-docs" data-partial="elements/accordeon/label" for="{{{parent-id}}} - {{{id}}}">
  {{{id}}}
</label>
