---
layout: "agency-pkg-layouts/default"
src:
  headline:
    text: 'src'
partials:
  headline:
    text: 'partials'
packages:
  headline:
    text: 'packages'
---
{{#mixin "agency-pkg-docs/overview"}}

  {{#content "menu"}}

      {{#mixin "agency-pkg-docs/overview/menu"}}

        {{#content "content"}}

          <div class="src">
            {{{mixin "agency-pkg-docs/overview/headline" ../../src.headline}}}
            {{#globTree "src/**/*.hbs"}}
              {{{mixin "agency-pkg-docs/accordeon" parent-id="src" list=this}}}
            {{/globTree}}
          </div>

          <div class="partials">
            {{{mixin "agency-pkg-docs/overview/headline" ../../partials.headline}}}
            {{#globTree "test/tmpl/partials/**/*.hbs"}}
              {{{mixin "agency-pkg-docs/accordeon" parent-id="partials" list=this}}}
            {{/globTree}}
          </div>

          <div class="packages">
            {{{mixin "agency-pkg-docs/overview/headline" ../../packages.headline}}}
            {{#globTree "node_modules/*-pkg-*/**/*.hbs"}}
                {{{mixin "agency-pkg-docs/accordeon" parent-id="packages" list=this}}}
            {{/globTree}}
          </div>

        {{/content}}

      {{/mixin}}

  {{/content}}

{{/mixin}}
